{% extends "layout.html" %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Admin - Registration Records</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>User Ib</th>
                <th>User  Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }} {{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
