{% extends "layout.html" %}
{% block body %}
 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{user[0]}}" method="POST">
          <div class="form-group">
            <input type="text" name="First_Name" value="{{user[1]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Last_Name" value="{{user[2]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Email" value="{{user[3]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Password" value="{{user[4]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Address" value="{{user[5]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Phone_No" value="{{user[6]}}" class="form-control">
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}